<html>

<body>

<form method="POST" enctype="multipart/form-data">

    Please select a file to upload : <input type="file" name="file"/>
    <input type="submit" value="upload"/>

</form>

</body>
</html>